

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid yellow;
  background-color: rgb(54, 53, 55);
  }
  form {
    padding: 15px;
    background-color: rgb(241, 7, 7);
    font-style: italic;
    border-style: solid;
    font-weight: 900;
  }
  input[type=button] {
    color:black;
    background-color:chartreuse;
    padding: 5px;
  }
  input[type=button]:hover{
    border:solid;
    background-color: darkmagenta;
  }
  input[type=text]:focus{
    background-color: dodgerblue;
    color:black;
    width:100%;
    transition:2s
  }
 
  .TitleName {
  background-color: skyblue;
  text-align: center;
    color:rgb(239, 45, 86) ;
    font-style: oblique;
    font-size: 6em;

  }
div{
  position: relative;
  border: 2px ;

border:hotpink
}

 .ImageMe {
   background-color: skyblue
 }
 /* NAVBAR DROPDOWN CSS */

 .dropbtn {
  background-color:rgb(77, 170, 87);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none 
 }

 .navbar {
  position: relative;
  display: inline-block;
  background-color: rgb(239, 45, 86);
}

.navbar-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navbar-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(239, 45, 86);
}
.navbar-content a:hover {background-color: #ddd;}
.navbar:hover .navbar-content {display: block;}
.navbar:hover .dropbtn {background-color: #3e8e41;}